/*--------------------清除默认样式 start----------------------------*/
h1, ul, li, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li {
  list-style: none;
}

h1 {
  font-weight: normal;
}

/*-------------------清除默认样式 end-------------------------------*/
input {
  width: 400px;
  height: 26px;
  padding: 6px 11px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  outline: none;
}
.textarea{

  padding: 6px 11px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  outline: none;
}

input:focus,
textarea:focus {
  /*border-color: #178a6f;*/
  border: 1px solid #178a6f;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(1, 126, 102, .2)
}
